
.admin-navbar {
  background-color: #1f2937;
  padding: 14px 40px;
  display: flex;
  gap: 20px;
}

.admin-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.admin-navbar a:hover {
  text-decoration: underline;
}


.admin-container {
  max-width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* ===== Headings ===== */
.admin-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* ===== Form ===== */
.admin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-form input,
.admin-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.admin-form textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-form button {
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.admin-form button:hover {
  background-color: #1e40af;
}
