* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

section {
  padding: 60px 8%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff7a18;
  border: none;
  color: white;
  cursor: pointer;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.client-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.client-card {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.client-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.contact-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form button {
  padding: 10px;
}


.newsletter {
  background: #0f172a;
  color: white;
  text-align: center;
}

.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
  margin-left: 10px;
  background: #ff7a18;
  border: none;
  color: white;
}
